---
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="/logo.png" type="image/x-icon" />
        <title>Document</title>
    </head>
    <body class="bg-black text-white star-effect">
        <div
            class="flex flex-col items-center justify-center w-screen h-screen overflow-hidden bg-gradient-to-tl from-black via-zinc-600/20 to-black"
        >
            <nav class="my-16 animate-fade-in">
                <ul class="flex items-center justify-center gap-6">
                    <a
                        class="text-lg duration-500 text-zinc-500 hover:text-zinc-300"
                        href="/project">Projects</a
                    ><a
                        class="text-lg duration-500 text-zinc-500 hover:text-zinc-300"
                        href="/contact">Contact</a
                    >
                </ul>
            </nav>

            <h1
                class="z-10 text-5xl text-transparent duration-1000 bg-white cursor-default text-edge-outline animate-title font-display sm:text-6xl md:text-9xl whitespace-nowrap bg-clip-text font-bold"
            >
                vishal
            </h1>

            <div class="my-16 text-center animate-fade-in">
                <h2 class="text-lg text-zinc-500">
                    Hi, my name is Vishal. I'm software developer building web
                    applications.
                </h2>
            </div>
        </div>
    </body>
</html>
