---
import Header from "../components/Header.astro";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body
        class="w-screen h-screen overflow-hidden bg-black bg-gradient-to-tl from-black via-zinc-600/20 to-black text-white"
    >
        <Header />
        <div class="container p-6 mx-auto">
            <slot />
        </div>
    </body>
</html>
